<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				{%if page%}
				<div class="category-nav">
				{%else%}
				<div class="category-nav show-on-click">
				{%endif%}
					<span class="category-header">Sản phẩm<i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li class="dropdown side-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Sách<i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Sách hay</h3></li>
											<li><a href="#">Văn học</a></li>
											<li><a href="#">Tiểu thuyết</a></li>
											<li><a href="#">Trinh thám</a></li>
											<li><a href="#">Kỹ năng sống</a></li>
											<li><a href="#">Sách khác</a></li>
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Nhà xuất bản</h3></li>
											<li><a href="#">Alphabooks</a></li>
											<li><a href="#">MCBook</a></li>
											<li><a href="#">First News</a></li>
											<li><a href="#">NXB Trẻ</a></li>
											<li><a href="#">Nhiều công ty phát hành</a></li>
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Tác giả</h3></li>
											<li><a href="#">Nguyễn Ngọc Ánh</a></li>
											<li><a href="#">Anh Khang</a></li>
											<li><a href="#">Napoleon Hill</a></li>
											<li><a href="#">Nhóm tác giả</a></li>
											<li><a href="#">Nhiều tác giả</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="#">Quần áo</a></li>
						<li class="dropdown side-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Điện tử<i class="fa fa-angle-right"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Máy tính</h3></li>
											<li><a href="#">Acer</a></li>
											<li><a href="#">Asus</a></li>
											<li><a href="#">MSI</a></li>
											<li><a href="#">Macbook</a></li>
											<li><a href="#">Khác</a></li>
										</ul>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Điện thoại</h3></li>
											<li><a href="#">SAMSUNG</a></li>
											<li><a href="#">APPLE</a></li>
											<li><a href="#">BbPhone</a></li>
											<li><a href="#">Vsmart</a></li>
											<li><a href="#">Khác</a></li>
										</ul>
										<hr class="hidden-md hidden-lg">
									</div>
									<div class="col-md-4">
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">TV</h3></li>
											<li><a href="#">Sony</a></li>
											<li><a href="#">LG</a></li>
											<li><a href="#">SAMSUNG</a></li>
											<li><a href="#">TCL</a></li>
											<li><a href="#">Khác</a></li>
										</ul>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title">Linh kiện</h3></li>
											<li><a href="#">TAI nghe</a></li>
											<li><a href="#">bàn phím</a></li>
											<li><a href="#">xạc dự phòng</a></li>
											<li><a href="#">loa</a></li>
											<li><a href="#">Khác</a></li>
										</ul>
									</div>
									<div class="col-md-4 hidden-sm hidden-xs">
										<a class="banner banner-2" href="#">
											<img src="./img/banner04.jpg" alt="">
											<div class="banner-caption">
												<h3 class="white-color">NEW<br>COLLECTION</h3>
											</div>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li><a href="#">Giầy dép</a></li>
						<li><a href="#">Balo</a></li>
						<li><a href="#">Thể hình</a></li>
						<li><a href="#">Xem hết</a></li>
					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="{%url 'home'%}">Trang chủ</a></li>
						<li><a href="{%url 'contact'%}">Liên hệ</a></li>
						<li><a href="{%url 'about_us'%}">Về chúng tôi</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>